<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.appspot.phonegap-staging.www"
    version     = "1.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.5.0" />

    <name>RTD</name>

    <description>
    RTD Supernice test app
    </description>

    <author href="http://www.wearesupernice.com/" email="dev@wearesupernice.com">
    Emile
    </author>

    <content src="index.html"/>
    <access origin="*"/>
    
    <preference name="orientation" value="portrait" />

    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.6" />

    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>

</widget>
